* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 60px;
  padding: 0 10px;
  cursor: pointer;
}

.navbar .sortear {
  width: max-content;
  height: 40px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff5722; /* Deep Orange */
  color: white;
  transition: background-color 0.3s ease;
}

.logo {
  width: auto;
  height: 100%;
  margin-left: 5px;
}

.button {
  width: 120px;
  height: 40px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #c1c4c1;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a8a8a8;
}

.button:active {
  background-color: #686868;
}

.estadoJogo {
  grid-column: span 5;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

.elementoSorteado {
      grid-column: span 5;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 10px;
  }

.sortear {
  grid-column: span 5;
  width: 100%;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #ff5722; /* Deep Orange */
}

.sortear:hover {
  background-color: #ff7043; /* Lighten Deep Orange */
}

.sortear:active {
  background-color: #e64a19; /* Darken Deep Orange */
}


.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }

  .numero {
    font-size: 18px;
  }
  .navbar {
    height: 35px;

  }
  .navbar > button {
    height: 20px;
    font-size: 12px;
  }

  .navbar > .sortear {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 10px;
    margin-left: 50px;
  }
  .estadoJogo {
    font-size: 18px;
  }

  .elementoSorteado {
    font-size: 14px;
  }
}

.b {
  background-color: #9c27b0; /* Deep Purple */
  color: white;
}

.i {
  background-color: #2196f3; /* Blue */
  color: white;
}

.n {
  background-color: #f44336; /* Red */
  color: white;
}

.g {
  background-color: #4caf50; /* Green */
  color: white;
}

.o {
  background-color: #ff9800; /* Orange */
  color: white;
}

.sorteado {
  background-color: #FBD85D ;
}
